<!DOCTYPE html>
<html>
<head>
    <title>Error page</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div class="container text-center">
        <div class="row">
            <div class="col-md-12 ">
                <div>
                    <h1>
                        Oops!
                    </h1>
                    <h1>@Page.ErrorStatus</h1>
                    <div class="alert alert-danger">
                       @RenderBody();
                    </div>
                    <a href="~" class="text-center">Return to the Main Page</a>
                </div>
            </div>
        </div>
    </div>

</body>



</html>